package layout

templ Base(title string) {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{ title }</title>
        <link rel="stylesheet" href="./public/style/output.css" />
    </head>
    <body class="h-full bg-green-600">
        This from the base layout
        { children... }
    </body>
    </html>
}